@{
    ViewData["Title"] = "Home";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-info" href="#">Inventory System</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
            </ul>
            <span class="navbar-text dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@ViewBag.user_name</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
                </div>
            </span>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <button class="btn btn-primary mb-2" data-toggle="modal" onclick="resetModal()" data-target="#addItemModal">Add Item</button>
    <table class="table table-sm table-hover text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Trade Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Category</th>
            <th scope="col">Manufactures</th>
            <th scope="col">Dangerous Level</th>
            <th scope="col">Packing</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Active</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in (List<Item>) Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TradeName</td>
                <td>@item.ScientificName</td>
                <td>@(item.Category??"-")</td>
                <td>@(item.Manufactures??"-")</td>
                <td>@(item.DangerousLevel??"-")</td>
                <td>@(item.Packing??"-")</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.IsActive == true? "Yes": "No")</td>
                <td>
                    <a class="text-decoration-none mr-2" asp-controller="Home" asp-action="RemoveItem" asp-route-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                    <a href="#" onclick="openEditItemModal(@item.Id, '@item.TradeName', '@item.ScientificName', '@item.Category', '@item.Manufactures', '@item.DangerousLevel', '@item.Packing', @item.Price, @item.Quantity, '@item.IsActive')" 
                       class="ml-2 text-decoration-none" data-toggle="modal" data-target="#addItemModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>


<!-- Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="Home" asp-action="AddEditItem">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Add Item to inventory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="number" class="form-control" hidden name="id">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <lable>Trade name</lable>
                            <input class="form-control" name="tradeName" required minlength="3">
                        </div>
                        <div class="col-12 col-lg-6">
                            <lable>Scientific name</lable>
                            <input class="form-control" name="scientificName" required minlength="3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <lable>Category</lable>
                            <input class="form-control" name="category">
                        </div>
                        <div class="col-12 col-lg-6">
                            <lable>Manufacture</lable>
                            <input class="form-control" name="manufactures">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <lable>Dangerous Level</lable>
                            <input class="form-control" name="dangerousLevel">
                        </div>
                        <div class="col-12 col-lg-6">
                            <lable>Packing</lable>
                            <input class="form-control" name="packing">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <lable>Price</lable>
                            <input type="number" class="form-control" name="price" required min="1" value="0">
                        </div>
                        <div class="col-12 col-lg-6">
                            <lable>Quantity</lable>
                            <input type="number" class="form-control" name="quantity" required min="1" value="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @Html.CheckBox("isActive") Is active
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
            </div>
        </form>
    </div>

</div>


<script>
    function openEditItemModal(id, tradeName, scientificName, category,manufactures, dangerousLevel, packing, price,
     quantity, isActive) {
            $('input[name="id"]').val(id);
            $('input[name="tradeName"]').val(tradeName);
            $('input[name="scientificName"]').val(scientificName);
            $('input[name="category"]').val(category);
            $('input[name="manufactures"]').val(manufactures);
            $('input[name="dangerousLevel"]').val(dangerousLevel);
            $('input[name="packing"]').val(packing);
            $('input[name="price"]').val(price);
            $('input[name="quantity"]').val(quantity);
            $('input[name="isActive"]').prop('checked', isActive === "True");
            $('#itemModalLabel').text("Edit Item to inventory");
    }
    function resetModal() {
            $('input[name="id"]').val('');
            $('input[name="tradeName"]').val('');
            $('input[name="scientificName"]').val('');
            $('input[name="category"]').val('');
            $('input[name="manufactures"]').val('');
            $('input[name="dangerousLevel"]').val('');
            $('input[name="packing"]').val('');
            $('input[name="price"]').val(0);
            $('input[name="quantity"]').val(0);
            $('input[name="isActive"]').prop('checked', true);
            $('#itemModalLabel').text("Add Item to inventory");
    }
</script>